input {
    width:90%;
    border:none;
    padding: 25px;
    margin-top: 2em;

}

#btn {
    display:block;
    width:90%;
    background: #1ad39a;
    padding: 15px 0;
    margin-top:2em;
    color: #fff;
    font-weight: bold;
}

#results {
    margin: 20px 0 20px 30px;
    color:#fff;
}

ul{
    list-style-type: none;
    margin:0;
}

ul li {
    color: #fff;
    width: 90%;
    padding: 13px;
    text-indent: 30px;
}